{{ define "main" }}
<section class="page-list">
  {{ range .Pages }}
  <article class="content-row">
    {{- $location := cond (eq .Section "locations") .Title "Kingscliff" -}}
    <img src="{{ with .Params.image }}{{ . }}{{ else }}https://placehold.co/400x300{{ end }}" alt="{{ .Title }} - Local Pest Co. {{ $location }} NSW" loading="lazy">
    <div class="text">
      <h2><a href="{{ .RelPermalink }}">{{ .Title }}</a></h2>
      {{ with .Params.description }}<p>{{ . }}</p>{{ end }}
    </div>
  </article>
  {{ end }}
</section>
{{ end }}
